.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background: var(--main-panel-color);
    box-shadow: 0 8px 24px rgba(61, 119, 180, .12);
    border-right: 1px solid var(--main-panel-color);
    padding: 16px 20px 0 20px;
    display: flex;
    flex-direction: column;

    & .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        & img {
            width: 180px;
        }
    }

    &-controller {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        background: var(--main-panel-color);

        & li {
            font-weight: 400;
            font-size: 16px;
            color: var(--main-panel-text-color);
            height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;

            & .item-wrap {
                transition: .3s;
                display: flex;
                align-items: center;

                & svg {

                    margin-right: 7px;

                    & path {
                        fill: var(--main-svg-color);
                    }
                }
            }

            &:hover .item-wrap {
                transform: translateX(10px);
            }
        }
    }
}

.navigatio {
    flex-grow: 1;
}