.theme {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background: #e8e8e8;
    height: 120px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    transition: .3s;

    &-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        transition: .4s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &-content {
        width: 100%;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    &-black {
        background: #333333 !important;
    }

    &-colored {
        background: rgb(63, 94, 251);
        background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    }

    &-prime {
        background: rgb(255, 127, 80);
        background: linear-gradient(90deg, rgba(255, 127, 80, 1) 0%, rgba(105, 105, 105, 1) 100%);
    }

    &:hover {
        bottom: 0;
    }


}